.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.isError{
  color: red;
}

.resultWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  flex-direction: column;
}

.scrollContainer {
  width: 600px; /* Начальная ширина */
  height: 300px; /* Начальная высота */
  overflow: auto; /* Включение прокрутки */
  border: 1px solid #ccc; /* Граница для наглядности */
  padding: 10px; /* Внутренние отступы */
  background-color: #f9f9f9; /* Фон для читабельности */
  resize: both; /* Разрешение изменения размера по горизонтали и вертикали */
  box-sizing: border-box; /* Учитывать границы и отступы в размере */
}

.scrollContent {
  white-space: pre-wrap; /* Сохранение пробелов и переносов строк */
  text-align: left;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
